



{% extends 'base.html' %} 

{% block title %}
<title>about</title>
{% endblock title %}

{% block content %}


<!-- Navbar START -->

<!-- Navbar END -->







<!-- Team START -->
<div class="section-block-grey">
	<div class="container">
		<div class="section-heading center-holder">
			<h2>About us</h2>
			<div class="heading-line"></div>
			<p class="deep">

				
			Webheavenit is a website design and development solution  company in Dhaka, Bangladesh. We also give 24/7 support to our all clients. Webheavenit gives support to customer's own domain registration and gives secure web deployment support. <br><br>

				
			We offer web development with wide range of web technologies. Our services includes web design , Web development , E-commerce Solution, Content Management System. We are a pioneer name in web design and web development company in Bangladesh. <br><br>

			webheavenit is a rapidly growing  development company in Bangladesh.We have expert and experienced developers developing websites with latest design and trendy web technologies.We create static websites as well as dynamic sites. <br><br>

			we provide web application software development service as Accounting Software, Sales Inventory Software, Pharmacy Sales Inventory, Multipurpose Co-operative Society Software, Restaurant Automation, Hotel Reservation Software, Merchandiser and Buyer Management, Academy Management Automation, Pharmaceuticals Automation, Real Estate Management, Hospital Management Automation ,Billing Software etc.


			 </p>
		</div>

		<!--			
		<div class="row mt-40">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="team-box">
					<div class="team-box-img">
						 <img src="http://via.placeholder.com/360x460" alt="team-img">
					</div>
					<div class="team-social">
						<h4>Daniel Gipson</h4>
						<h5>Web Designer</h5>

						<div class="team-social-icom">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="team-box">
					<div class="team-box-img">
						 <img src="http://via.placeholder.com/360x460" alt="team-img">
					</div>
					<div class="team-social">
						<h4>Daniel Gipson</h4>
						<h5>Web Designer</h5>

						<div class="team-social-icom">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="team-box">
					<div class="team-box-img">
						 <img src="http://via.placeholder.com/360x460" alt="team-img">
					</div>
					<div class="team-social">
						<h4>Daniel Gipson</h4>
						<h5>Web Designer</h5>
						<div class="team-social-icom">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div> -->
<!-- Team END -->








<!-- Pricing START -->
<!--
<div class="section-block">
	<div class="container">
		<div class="section-heading center-holder">
			<span>Choose from best of three plans</span>
			<h2>Affordable Pricing</h2>
			<div class="heading-line"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> temporincididunt ut labore et dolore magna aliqua.</p>
		</div>	
		<div class="row mt-60">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="pricing-block">
					<div class="pricing-block-top">
						<h4>Basic</h4>
						<h3>$9.99</h3>
						<p>Tutorials and Support</p>					
					</div>
					<ul>
						<li>10GB Storage</li>
						<li>10 Emails</li>
						<li>10 Domains</li>
						<li>1GB Bandwidth</li>
						<li>Email Support</li>
					</ul>
					<div class="center-holder">
						<a href="#">Sign Up</a>
					</div>				
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="pricing-block">
					<div class="pricing-block-top">
						<h4>Pro</h4>
						<h3>$24.99</h3>
						<p>Tutorials and Support</p>					
					</div>
					<ul>
						<li>10GB Storage</li>
						<li>10 Emails</li>
						<li>10 Domains</li>
						<li>1GB Bandwidth</li>
						<li>Email Support</li>
					</ul>
					<div class="center-holder">
						<a href="#">Sign Up</a>
					</div>				
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="pricing-block">
					<div class="pricing-block-top">
						<h4>Premium</h4>
						<h3>$49.99</h3>
						<p>Tutorials and Support</p>					
					</div>
					<ul>
						<li>10GB Storage</li>
						<li>10 Emails</li>
						<li>10 Domains</li>
						<li>1GB Bandwidth</li>
						<li>Email Support</li>
					</ul>
					<div class="center-holder">
						<a href="#">Sign Up</a>
					</div>				
				</div>
			</div>				
		</div>					
	</div>
</div> -->
<!-- Pricing END -->


{% endblock content %}