
{% extends 'base.html' %}


 {% block title %}
<title>FAQ</title>
{% endblock title %}


{% block content %}


<!-- Navbar START -->

<!-- Navbar END -->




<!-- Page Title START -->
<!--
<div class="page-title" style="background-image: url(http://via.placeholder.com/1349x385); background-position: center;">
	<div class="container">
		<h1>FAQ</h1>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="faq.html">FAQ</a></li>
		</ul>
	</div>
</div> -->
<!-- Page Title END -->




<!-- About Section START -->
<div class="section-block">
	<div class="container">
		<div class="section-heading center-holder">
			<h2>Frequently Asked Questions</h2>
			<div class="heading-line"></div>
		</div>			
		<div class="row mt-40">
			<div class="col-md-6 col-sm-12 col-xs-12">		
				<!-- Accordions START -->
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="headingOne">
				      <h4 class="panel-title accordion-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          How to discuss my project?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body accordion-body">
				        Signup for an account and login to your account.In your dashboard you will find send mail option.Click on it and send  message.
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          How do i order new project?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body accordion-body">
				        Login to your dashboard and click on send project button.You will see  a form with title and file input option.Give a title in the title box and upload your project details files as txt,rar,zip,pdf,image(jpg,jpeg,png) or mp4 file format and send it to us.After analyzing your project we will get back to you by  email.
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="headingThree">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          How do i make deposit?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body accordion-body">
				        In dashboard click on add fund and follow the direction.
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading3">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
				          How much to pay in advance?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
				      <div class="panel-body accordion-body">
				        You have to pay 50% of the total project cost in advance.
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading4">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
				          How project will be delivered to me?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
				      <div class="panel-body accordion-body">
				       After completing the project we will send you an email with the project files.
				      </div>
				    </div>
				  </div>				  

				</div>	
				<!-- Accordions END -->						
			</div>



			<div class="col-md-6 col-sm-12 col-xs-12">
				<!-- Accordions START -->
				<div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading5">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
				          Which payment methods do you support?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
				      <div class="panel-body accordion-body">
				        You can pay us via credit card,debit card, mastercard,wire transfer,skrill and neteller
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading6">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
				          Do you provide refund?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
				      <div class="panel-body accordion-body">
				        If you are  not satisfied with the completed project we will refund you(no question will be asked).
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading7">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
				          Do you provide fullstack web developmet service?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
				      <div class="panel-body accordion-body">
				        Yes, we do.
				      </div>
				    </div>
				  </div>
<!--
				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading8">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
				          Where can I find The Economist?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
				      <div class="panel-body accordion-body">
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				      </div>
				    </div>
				  </div>

				  <div class="panel panel-default accordion">
				    <div class="panel-heading accordion-heading" role="tab" id="heading9">
				      <h4 class="panel-title accordion-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
				          How do I find analyst reports?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
				      <div class="panel-body accordion-body">
				        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				      </div>
				    </div>
				  </div>				  				  				  
	  
				</div>	-->
				<!-- Accordions END -->						
			</div>			
		</div>
	</div>
</div>
<!-- About Section END -->





{% endblock content %}